.check {
    cursor: pointer;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;
    border-radius: .2rem;
    border: 1px solid #fdfdfd;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: background-color 0.3s ease-in-out;
}

.check:checked {
    border: transparent;
    background-color: #f87d54;
}

.check:disabled {
    background-color: #fdfdfd;
}

