.container {
    padding-top: 10rem;
    .header {
        background: rgb(62,20,94);
        background: linear-gradient(0deg, rgba(62,20,94,1) 30%, rgba(142,53,204,1) 100%);
        height: 120vh;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        border-radius: 3rem 3rem 0 0;
        // animation: rebote .8s ease;

    
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;
            gap: .6rem;
            i { 
                color: #fff;
                font-size: 2rem;
            }
            span {
                color: #fff;
                font-size: 2rem;
                font-weight: 500;
            }
        }
    
        &__title {
            color: #F8F1F9;
            margin-top: 0;
        }
        
    }   
    
    .movies-list {
        position: relative;
        border-radius: 3rem 3rem 0 0;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        place-content: center;
        gap: 1rem;
        padding: 1.8rem;
        z-index: 2;
        animation: rebote .9s ease;

        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, 9rem);
        }
    }
}
