.movies-list {
    position: relative;
    padding-top: 10rem;

    &__header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(62,20,94);
    background: linear-gradient(0deg, rgba(62,20,94,1) 30%, rgba(142,53,204,1) 100%);
    border-radius: 3rem 3rem 0 0;
    height: 100vh;
    z-index: 1;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        gap: .6rem;
        span {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    &__title {
        color: #F8F1F9;
        margin-top: 0;
    }
    
    &__posters {
        position: relative;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        place-content: center;
        gap: 1rem;
        padding: 1.8rem;
        border-radius: 3rem 3rem 0 0;
        margin: 0 auto;
        z-index: 2;
        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, 9rem);
        }
    }
}   
