.seats-schedules {
    padding-top: 21rem;
    .seats {
        position: fixed;
        width: 100%;
        top: 0;
        background: linear-gradient(rgb(106, 53, 204), #8e35cc) ;
        height: 70vh;
        border-radius: 3rem 3rem 0 0;
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 5rem;
            margin-bottom: .5rem;
            h3 {
                color: #fdfdfd;
                margin: 0;
                font-weight: 500;
            }
        }
        &__caption {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            margin-top: .5rem;
            .selected {
                color: #f87d54;
            }
            .reserved {
                color: #fdfdfd;
            }
            .available {
                color: #fdfdfd;
            }
            i {
                font-size: .9rem;
            }
            span {
                margin-right: .6rem;
                font-size: .9rem;
                color: #fdfdfd;
            }
        }
        &__items {
            margin: 0;
            padding: .5rem 3rem;
            form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: .2rem;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
    .schedules {
        position: relative;
        background-color: #fff;
        border-radius: 3rem 3rem 0 0;
    
    }
}
